.menu {
    background-color: #4744B3;
    width: 350px;
    position: fixed;
    height: 100%;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.menu .itens{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.menu a {
    display: block;
    text-decoration: none;
    font-size: 27px;
    line-height: 35px;
    color: #FFF;
}

.menu a:hover {
    color: #C6C4FF;
    text-decoration: underline;
}

.menu .menu-footer {
    position: relative;
    margin-top: 530px;
    color: #FFF;
    text-align: center;
}

.menu .menu-footer img {
    width: 15px;
}

