body {
    margin: 0px!important;
    font-family: Arial,sans-serif;
}

.content {
    margin-left: 350px;
    width: auto;
    padding: 0.5px;
    font-size: 24px;
    
}

.perfil-image {
    text-align: center;
    margin-top: 100px;
}

.perfil-image img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #4744B3;
}

.social-media {
    margin-top: 25px;
    text-align: center;
}

.social-media img{
    width: 40px;
    margin: 0px 10px 0px 10px;
}

#description {
    text-align: center;
    padding: 0px 80px 0px 80px;
    color: rgb(95, 90, 90);
}

#experiencia {
    color: #4744B3;
    padding: 40px;
    margin-top: 80px;
    background-color: #C6C4FF;
}

#experiencia .periodo-trabalho {
    font-size: 18px;
    font-style: italic;
}

#tecnologias {
    color: rgb(95, 90, 90);
    padding: 40px;
    overflow: auto;
}

.tec {
    margin: 20px 20px 0 0;
    padding: 20px;
    border: 2px solid rgb(95, 90, 90);
    text-align: center;
    border-radius: 25px;
    width: 295px;
    height: 300px;
    float: left;
}

.img-tecnologia {
    max-width: 250px;
    max-height: 250px;
    margin-top: 50%;
    transform: translate(0, -50%);
}

#footer {
    color: #4744B3;
    padding: 40px;
    margin-top: 80px;
    background-color: #AEABFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}